* {
    box-sizing: border-box;

    margin: 0;

    padding: 0;
}

@media only screen and (max-width: 600px) {

    .haut {
        width: 600px;
        height: 500px;
    }

    .header {
        width: 600px;
        height: 250px;
        margin-top: 0px;
        background-color: none;
    }

    .header .nav-bar {
        width: 600px;
        height: 250px;
        background-color: none;
    }

    .header .nav-bar .logo {
        margin-left: 20px;
        margin-bottom: 210px;
        width: auto;
        height: auto;
        background-color: none;
    }

    .header .nav-bar .logo p {
        font-size: 40px;
    }

    .menu {
        background-color: none;
        margin-bottom: 15px;
        width: auto;
        height: auto;
        margin-right: 35px;
    }

    ul {
        text-align: start;
        display: block;
        flex-direction: column;
    }

    li {
        display: block;
        padding: 0.05px 1.5px;
    }

    .header .nav-bar .menu ul {
        margin: auto;
    }

    .header .nav-bar .menu li {
        margin: auto;
        padding-top: 5px;
    }

    .header .nav-bar .menu ul li a {

        font-size: 25px;
        
        letter-spacing: 0px;
        
        padding: 0px;

        
        border-radius: 0px;
        
        text-transform: capitalize;
        
        transition: none;
        
        opacity: 1;
        
        color: #FFFFFF;
        
        text-shadow: none;
    }
    
    
.header .nav-bar .menu ul li span a  {
    background-color: orangered;
    height: 50px;
    width: 50px;
border: none;
}

.header .nav-bar .menu ul li span a:hover {
opacity: 2;
text-decoration: none;
background: white;
color: orangered;
border: 1px solid;
}

.header .nav-bar .menu ul li a:hover {

    opacity: 2;

    text-decoration: underline;

    background: none;

    color: white;

    padding: 5px 20px;

}

.haut .content {

    width: 600px;
    background-color: none;
    display: flex;
    
    justify-content: none;
    
    }
    
    
    
    .presentation{
    
        background-color: none;  
    
        display: block;
    
        text-align: center;  
    
        flex-direction: column;
    
        padding: 1vh 1Vh;
    
        color: white;
    
        letter-spacing: 0px;
    
        width: 500px;
        
       margin: auto;

        
    
        height: 250px;
    
    
        }
    
        .content .presentation p {
            margin: 5px;
        }
    
        
    
        .presentation .voir {

            flex-direction: none;
    
            display: inline-block;
    
            text-decoration: none;
    
            background-color: orangered;
    
            color: white;
    
            text-align: center;
    
            width: 110px;
    
            height: 45px;
    
            padding: 10px 10px;
    
            border-radius: 10px;
    
            transition: none;
    
            opacity: 1;
    
            cursor: none;

            font-size: 15px;

            margin-top: 25px;
    
        }
    
    
    
        .presentation .voir a {
    
            margin: 0 auto;
    
            margin-top: 10px;
    
            display: block;
    
            text-align: center;
    
        }
    
    
    
        .presentation .voir:hover {
    
            opacity: 2;
    
            text-decoration: none;
    
            background-color: white;
    
            color: orangered;
    
            display: block;
    
            margin-top: 25px;

    
            padding: 5px 10px;
    
            width: 110px;
    
            height: 45px;
    
            border-radius: 10px;
    
        }
    
    
        .contenu1{

            margin: 0 auto;
        
        
            margin-bottom: 30px;
        
            background: none;
        
            width:  600px;
        
            background: none;

            display: block;

            flex-direction: column;
        
        }
        
        
        .contenu1  h1 {
            font-weight: bold;
            font-size: 35px;
            
            
        }
        
        
        .box{
        
            border: none;
        
            display: block;

            flex-direction: column;

            margin: auto;
        
            padding: 10px auto;
        
            width: 600px;

            height: auto;
        
            background: none;
        
        }
        
        .box:nth-child(1) {
        width: 600px;
        display: block;
        flex-direction: column;
        margin: auto;
        margin-bottom: 50px;
        
        background: orange;
        
        height: auto;
        
        }
        
        .box:nth-child(2){
        
        margin-top: 200px;
        width: 60px;
        height: auto;
        background: orangered;
        }
        
        .box1{


            width: 500px;
        
            background: none;

            margin: 0 50px;
        
            display: flex;
        
            border-radius: 15px;
        
            padding: 10px 0;
        
            
        
        }
        
        .card{
        
            width: 500px;
        
            height: 500px;
        
            margin: 0 auto;
            
            display: block;
        
            background: #b9b0b0;
        
            border-radius: 15px;
        
            border: 1px solid black;
        
        }
    
        
        
        .card img {
        
            padding: 10px 10px;
            border-radius: 30px;
        
        }
        
        
        
        .card .p{
        
            width: 60px;
        
            position: absolute;
        
            background-color: white;
        
            color: black;
        
            border-radius: 10px;
        
            border: black;
        
            text-align: center;
        
            margin:  5px 5px;
        
        }
        
        
        
        
        
        .box2{
        
            width: 500px;

            margin: 0 50px;
        
            background: none;

            border-radius: 15px;
        
            display: flex;
        
            padding: 10px 0px;
        
        }
        
        
        
        .box3{
        
            width: 500px;
        
            background:none;
        
            margin: 0 50px;
        
            display: flex;
        
            padding: 10px 0;
        
        }
        
        
        
        .box4{
        
            width: 500px;
        
            background: none; 
        
            margin: 0 50px;
        
            display: flex;
        
            padding: 10px 0;
        
        }    
        
        
        
        .box5{
        
            width: 500px;
        
            background: none; 
        
            margin: 0 50px;
        
            display: flex;
        
            padding: 10px 0;
        
        }    
        
        .box6{
        
            width: 500px;
        
            margin: 0 50px; 
        
            display: flex;
        
            padding: 10px 0;
        
        }    
        
        
        
        .contenu1 .box .card p {
        
            padding: 2px 20px;
        
            color: white;
        
        }
        
        
        
        
        .Avis-voiture{
            display: flex;
            justify-content: none;
            background-color: transparent;
            background-color: antiquewhite;
            width: 600px;
            height: auto;
        }
        
        .Avis-Clients {
            width: 600px;
            display: flex;
            flex-direction: column;
            background-color: none;
            margin-top: 50px;
            margin-bottom: 20px;
            background-color: none;
            justify-content: space-between;
            margin: 0 0;
            text-align: center;
        }
        
        .Avis-Clients  h1 {
            font-weight: bold;
            font-size: 35px;
            padding: 0px 0px;
            
        }
        
        
        .avis-container {
            float: left;
            margin: auto;
            background-color: white;
            display: flex;
            flex: wrap;
            justify-content: none;
            padding: 15px 10px;
            width: 600px;
            height: auto;
        }
        
        
        .avis {
            background-color: rgba(255, 248, 248, 0.077);
            margin: auto;
            margin-top: 15px;
            border-radius: 10px;
            text-align: center;
            width: 150px;
            height: 150px;
            border: 1px solid black;

        }
        
        .avis-container .avis img {
            width: 60px;
            height: 60px;
            border-radius: 10px;
        }
        
        
        .avis-container .avis h3 {
            color: #333;
            margin-top: 8px;
        }
        
        .avis-container .avis p {
            color: #000;
        }
        
        .Avis-voiture .voiture {
            margin: auto;
            display: flex;
            width: 600px;
            height: 300px;
            padding: 50px 100px;
            flex: none;
        }
        
        .Connexion {
            display: block;
            margin: auto;
            width: 600px;
            height: auto;
            border: 5px black;
            border-color: black;
            border-radius: 10px;
            
            background-color: transparent
        }
        
        .Connexion .Login {
            background-image: none;
            flex-direction: column;
            margin: auto;
            margin-top: 20px;
            margin-left: 140px;
            width: 300px;
            height: 400px;
            text-align: center;
            border-radius: 50px;
            border: 1px solid black;
        }
        
        .Connexion .Login p {
            padding-top: 1px;
            margin-top: 1px;
            color:black;
        }
        
        .Connexion .Login input {
            width: 250px;
            height: 40px;
            padding-left: 10px;
            border-radius: 10px;
            background-color: none;
        }
        .Connexion .Login input[type="checkbox"].no-style {
           
            width: auto;
            height: auto;
            border-radius: none;
        
        }
        
        .Connexion .Login span {
            display: flex;
            margin: auto;
            margin-top: 15px;
            justify-content: space-between;
        }
        
        .Connexion .Login-with-Google {
            background-color: rgba(252, 234, 234, 0.182);
            flex-direction: column;
            margin: auto;
            margin-top: 20px;
            margin-left: 140px;
            width: 300px;
            height: 400px;
            text-align: center;
            border-radius: 50px;
            border: 1px solid black;
        }
        .Connexion .Login-with-Google p {
            padding-top: 1px;
            margin-top: 1px;
            color:black;
        }
        
        .Connexion .Login-with-Google input {
            width: 250px;
            height: 40px;
            padding-left: 10px;
            border-radius: 10px;
            background-color: none;
        
        }
        
        .footer{
        
            
        
            display: block;
        
        
            border-radius: none;
        
            background-image: url(./images/footer.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        
            width: 600px;
        
            height: auto;
        
        }
        
        .footer .icons {

            margin: auto;

            margin-right: 22px;
        
            padding: 20px;
        
            border-radius: none;
        
            display: flex;
        
            justify-content: space-between;
        
            background-color: blueviolet;
        
            color: #fff;
        
            width: 600px;
        
            height: 60px;
        
        }
        
        .footer .icons img {
        
            padding-right: 10px;
        
            gap: 5px;
        
            text-align: right;
        
        }
        
        .footer-content{
        
            display: flex;
        
            justify-content: space-between;
        
            width: 600px;
        
            height: auto;
        
            color: #aa8787c4;
        
        }
        
        .footer .company {
        
            display: block;
        
         flex-direction: column;
    
        
         font-size: 15px;
        
         padding: 25px;
        
            padding-bottom: 0;
        
        }
        
        .footer .company p {
        
            padding-bottom: 20px;
        
        }
        
        .footer .product {
        
            display: block;
        
         flex-direction: column;

         padding: 25px;
        
         padding-bottom: 0;
        
        font-size: 15px;
        
        }
        
        .footer .product p {
            
            padding-bottom: 20px;
        
        }
        
        .footer .product a {
            color: #aa8787c4;
        }
        
        .footer .contact {
        
            display: block;
        
         flex-direction: column;
        
        
         padding: 25px;
        
            padding-bottom: 0;
        
        }
        
        .footer .contact p {

            font-size: 15px;
        
            padding-bottom: 20px;
        
        }
        
        .footer-foot {
            width: 600px;
        
            display: block;
            
            background-color: rgba(9, 9, 82, 0.589);
        
            color: white;
        
            padding-top: 5px;
        
        }
        
        .footer .copyright {
        
            border-radius: none;
        
            width: 600px;
        
            height: 70px;
        
            

            padding: auto;
            
        
            
        
        }
        
        .footer .copyright p{
        
            text-align: center;
        
            padding: 10px;
        
        
        }
        
        .footer .copyright p a{
            color: orangered;
        }
        
        

}